<h1 class="py-5 text-center"><%= @student.name %>'s Profile</h1>
<p>Email: <%= @student.email %></p>
<p>Course: <%= @student.course %></p>
<p>Schedule: <%= @student.schedule %></p>
<p>Tag: <%= @student.tag %></p>
<p>Text: <%= @student.text %></p>

<h2 class="py-5 text-center">Posts Created</h2>
<ul class="list-group">
  <% @created_posts.each do |post| %>
    <li class="list-group-item text-center">
      <%= link_to post_path(post) do %>
        Course: <%= post.course %>, Schedule: <%= post.schedule %>, Tag: <%= post.tag %>, Text: <%= post.text %>
      <% end %>
      <div class="d-flex gap-2 justify-content-center py-2">
        <%= button_to 'Confirm', confirm_post_path(post), method: :post, class: "btn btn-primary d-inline-flex align-items-center" %>
        <%= button_to 'Cancel', cancel_post_path(post), method: :post, class: "btn btn-primary d-inline-flex align-items-center" %>
      </div>
    </li>
  <% end %>
</ul>

<h2 class="py-5 text-center">Posts Applied For</h2>
<ul class="list-group">
  <% @applied_posts.each do |post| %>
    <li class="list-group-item text-center">
      <%= link_to post_path(post) do %>
        Course: <%= post.course %>, Schedule: <%= post.schedule %>, Tag: <%= post.tag %>, Text: <%= post.text %>
      <% end %>
    </li>
  <% end %>
</ul>