<h1 class="py-5 text-center"><%= @student.name %>'s Profile</h1>
<p>Email: <%= @student.email %></p>

<p id="bio-display">Bio: <%= @student.text %></p>
<button id="edit-bio-button", class="btn btn-primary">Edit Bio</button>

<div id="bio-edit-container" style="display: none;">
  <%= form_with(model: @student, url: student_path(@student), method: :patch, remote: true) do |form| %>
    <%= form.text_area :text, rows: 4, cols: 50, id: "bio-textarea" %>
    <%= form.submit 'Save', id: 'save-bio-button', class: "btn btn-primary"%>
  <% end %>
</div>
<div class="form-text">You can write anything you would like others to know about you here. Everyone will be able to see this.</div>

<% if current_student == @student %>
<h2 class="py-5 text-center">Groups Created</h2>
<ul class="list-group">
  <% @student.groups.each do |group| %>
    <li class="list-group-item text-center">
      <div class="d-flex gap-2 justify-content-center py-2">
        <% if group.group_status == "open" %>
          <%= link_to group_path(group) do %>
            Course: <%= group.course %>, Focus: <%= group.focus %>, Text: <%= group.text %>
          <% end %>
          <span class="status-icon" style="color: green;">OPEN</span>
        <% elsif group.group_status == "full" %>
          <%= link_to group_path(group) do %>
            Course: <%= group.course %>, Focus: <%= group.focus %>, Text: <%= group.text %>
          <% end %>
          <span class="status-icon" style="color: red;">FULL</span>
        <% else %>
          <%= link_to group_path(group) do %>
            Course: <%= group.course %>, Focus: <%= group.focus %>, Text: <%= group.text %>
          <% end %>
          <span class="status-icon" style="color: red;">❌</span>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>

<h2 class="py-5 text-center">Groups Applied</h2>
<ul class="list-group">
  <% @student.applications.each do |application| %>
    <li class="list-group-item text-center">
      <% group = application.group %>
      <% if application.application_status == "accepted" %>
        <%= link_to group_path(group) do %>
          Course: <%= group.course %>, Focus: <%= group.focus %>, Creator: <%= group.creator.name %>
        <% end %>
        <span class="status-icon" style="color: green;">✅</span>
      <% elsif application.application_status == "pending" %>
        <%= link_to group_path(group) do %>
          Course: <%= group.course %>, Focus: <%= group.focus %>, Creator: <%= group.creator.name %>
        <% end %>
        <span class="status-icon" style="color: orange;">pending</span>
      <% end %>
    </li>
  <% end %>
</ul>
<% end %>

<%= render partial: 'time_slots/create', locals: { time_slots: @time_slots} %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const editBioButton = document.getElementById('edit-bio-button');
    const bioEditContainer = document.getElementById('bio-edit-container');
    
    editBioButton.addEventListener('click', function() {
      bioEditContainer.style.display = 'block';
      editBioButton.style.display = 'none';
    });
  });
</script>