<h1 class="py-5 text-center"><%= @student.name %>'s Profile</h1>
<p>Email: <%= @student.email %></p>
<p>Course: <%= @student.course %></p>
<p>Schedule: <%= @student.schedule %></p>
<p>Tag: <%= @student.tag %></p>
<p>Text: <%= @student.text %></p>

<% if current_student == @student %>
<h2 class="py-5 text-center">Posts Created</h2>
<ul class="list-group">
  <% @created_posts.each do |post| %>
    <li class="list-group-item text-center">
      <%= link_to post_path(post) do %>
        Course: <%= post.course %>, Tag: <%= post.tag %>, Text: <%= post.text %>
      <% end %>
      <div class="d-flex gap-2 justify-content-center py-2">
        <% if post.post_status == "open" %>
          <span class="status-icon" style="color: green;">OPEN</span>
        <% elsif post.post_status == "full" %>
          <span class="status-icon" style="color: red;">FULL</span>
        <% else %>
          <span class="status-icon" style="color: red;">❌</span>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>

<h2 class="py-5 text-center">Posts Applied For</h2>
<ul class="list-group">
  <% @applied_posts.each do |post| %>
    <li class="list-group-item text-center">
      <%= link_to post_path(post) do %>
        Course: <%= post.post.course %>, Tag: <%= post.post.course %>,  Creator: <%= post.post.creator.name %>
      <% end %>
      <% if post.apply_status == "accepted" %>
        <span class="status-icon" style="color: green;">✅</span>
      <% elsif post.apply_status == "rejected" %>
        <span class="status-icon" style="color: red;">❌</span>
      <% end %>
    </li>
  <% end %>
</ul>
<% end %>