<h1><%= @student.name %>'s Profile</h1>
<p>Email: <%= @student.email %></p>
<p>Course: <%= @student.course %></p>
<p>Schedule: <%= @student.schedule %></p>
<p>Tag: <%= @student.tag %></p>
<p>Text: <%= @student.text %></p>