<h1 class="py-5 text-center"><%= @student.name %>'s Profile</h1>
<p>Email: <%= @student.email %></p>
<p>Bio: <%= @student.text %></p>
<%= link_to 'Edit Profile', edit_student_path(@student) %>

<% if current_student == @student %>
<h2 class="py-5 text-center">Groups Created</h2>
<ul class="list-group">
  <% @student.groups.each do |group| %>
    <li class="list-group-item text-center">
      <div class="d-flex gap-2 justify-content-center py-2">
        <% if group.group_status == "open" %>
          <%= link_to group_path(group) do %>
            Course: <%= group.course %>, Focus: <%= group.focus %>, Text: <%= group.text %>
          <% end %>
          <span class="status-icon" style="color: green;">OPEN</span>
        <% elsif group.group_status == "full" %>
          <%= link_to group_path(group) do %>
            Course: <%= group.course %>, Focus: <%= group.focus %>, Text: <%= group.text %>
          <% end %>
          <span class="status-icon" style="color: red;">FULL</span>
        <% else %>
          <%= link_to group_path(group) do %>
            Course: <%= group.course %>, Focus: <%= group.focus %>, Text: <%= group.text %>
          <% end %>
          <span class="status-icon" style="color: red;">❌</span>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>

<h2 class="py-5 text-center">Groups Applied</h2>
<ul class="list-group">
  <% @student.applications.each do |application| %>
    <li class="list-group-item text-center">
      <% group = application.group %>
      <% if application.application_status == "accepted" %>
        <%= link_to group_path(group) do %>
          Course: <%= group.course %>, Focus: <%= group.focus %>, Creator: <%= group.creator.name %>
        <% end %>
        <span class="status-icon" style="color: green;">✅</span>
      <% elsif application.application_status == "pending" %>
        <%= link_to group_path(group) do %>
          Course: <%= group.course %>, Focus: <%= group.focus %>, Creator: <%= group.creator.name %>
        <% end %>
        <span class="status-icon" style="color: orange;">pending</span>
      <% end %>
    </li>
  <% end %>
</ul>
<% end %>

<%= render partial: 'time_slots/create', locals: { time_slots: @time_slots} %>