<h1 class="py-5 text-center"><%= @student.name %>'s Profile</h1>
<p>Email: <%= @student.email %></p>
<p>Course: <%= @student.course %></p>
<p>Schedule: <%= @student.schedule %></p>
<p>Tag: <%= @student.tag %></p>
<p>Text: <%= @student.text %></p>

<h2 class="py-5 text-center">Posts Created</h2>
<ul class="list-group">
  <% @created_posts.each do |post| %>
    <li class="list-group-item text-center">
      <%= link_to post_path(post) do %>
        Course: <%= post.course %>, Schedule: <%= display_schedule(post.start_slot, post.end_slot) %>, Tag: <%= post.tag %>, Text: <%= post.text %>
      <% end %>
      <div class="d-flex gap-2 justify-content-center py-2">
  
      <% if post.confirmed? %>
        <span class="status-icon" style="color: green;">✅</span>
      <% elsif post.cancelled? %>
        <span class="status-icon" style="color: red;">❌</span>
      <% end %>

      <%= button_to 'Confirm', confirm_post_path(post), method: :post, class: "btn btn-primary d-inline-flex align-items-center" %>
        <%= button_to 'Cancel', cancel_post_path(post), method: :post, class: "btn btn-primary d-inline-flex align-items-center" %>
      </div>
    </li>
  <% end %>
</ul>

<h2 class="py-5 text-center">Posts Applied For</h2>
<ul class="list-group">
  <% @applied_posts.each do |post| %>
    <li class="list-group-item text-center">
      <%= link_to post_path(post) do %>
        Course: <%= post.course %>, Schedule: <%= display_schedule(post.start_slot, post.end_slot) %>, Tag: <%= post.tag %>, Text: <%= post.text %>
      <% end %>

      <% if post.confirmed? %>
        <span class="status-icon" style="color: green;">✅</span>
      <% elsif post.cancelled? %>
        <span class="status-icon" style="color: red;">❌</span>
      <% end %>
    </li>
  <% end %>
</ul>

<h2 class="py-5 text-center">Schedule</h2>
<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered text-center">
      <thead class="table-light">
        <tr>
          <th class="text-uppercase">Time
          </th>
          <th class="text-uppercase">Monday</th>
          <th class="text-uppercase">Tuesday</th>
          <th class="text-uppercase">Wednesday</th>
          <th class="text-uppercase">Thursday</th>
          <th class="text-uppercase">Friday</th>
          <th class="text-uppercase">Saturday</th>
          <th class="text-uppercase">Sunday</th>
        </tr>
      </thead>
      <tbody>
        <% (8..21).each do |hour| %>
          <tr>
            <td class="align-middle"><%= "#{hour.to_s.rjust(2, '0')}:00" %></td>
            <% 7.times do %>
              <td class="align-middle">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">  
              </td>
            <% end %>
          </tr>
        <% end %>
        <tr>
          <td colspan="8">
            <button type="submit" class="btn btn-primary align-items-center">Confirm</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>




