<h1 class="py-5 text-center"><%= @student.name %>'s Profile</h1>
<p>Email: <%= @student.email %></p>
<p>Open Posts: <%= @student.course %></p>
<p>Schedule: <%= @student.schedule %></p>
<p>Tag: <%= @student.tag %></p>
<p>Bio: <%= @student.text %></p>

<% if current_student == @student %>
<h2 class="py-5 text-center">Posts Created</h2>
<ul class="list-group">
  <% @created_posts.each do |post| %>
    <li class="list-group-item text-center">
      <div class="d-flex gap-2 justify-content-center py-2">
        <% if post.post_status == "open" %>
          <%= link_to post_path(post) do %>
            Course: <%= post.course %>, Tag: <%= post.tag %>, Text: <%= post.text %>
          <% end %>
          <span class="status-icon" style="color: green;">OPEN</span>
        <% elsif post.post_status == "full" %>
          <%= link_to post_path(post) do %>
            Course: <%= post.course %>, Tag: <%= post.tag %>, Text: <%= post.text %>
          <% end %>
          <span class="status-icon" style="color: red;">FULL</span>
        <% else %>
          <%= link_to post_path(post) do %>
            Course: <%= post.course %>, Tag: <%= post.tag %>, Text: <%= post.text %>
          <% end %>
          <span class="status-icon" style="color: red;">❌</span>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>

<h2 class="py-5 text-center">Posts Applied For</h2>
<ul class="list-group">
  <% @applied_posts.each do |application| %>
    <li class="list-group-item text-center">
      <% post = application.post %>
      <% if application.apply_status == "accepted" %>
        <%= link_to post_path(post) do %>
          Course: <%= post.course %>, Tag: <%= post.tag %>, Creator: <%= post.creator.name %>
        <% end %>
        <span class="status-icon" style="color: green;">✅</span>
      <% elsif application.apply_status == "pending" %>
        <%= link_to post_path(post) do %>
          Course: <%= post.course %>, Tag: <%= post.tag %>, Creator: <%= post.creator.name %>
        <% end %>
        <span class="status-icon" style="color: orange;">pending</span>
      <% end %>
    </li>
  <% end %>
</ul>
<% end %>