<header class="py-3 mb-4 border-bottom">
  <!-- First Row -->
  <div class="d-flex justify-content-between mb-3">
    <h1 class="link-body-emphasis text-decoration-none">Lion Study Buddy</h1>
    <div>
      <% if logged_in? %>
        <%= link_to 'Logout', logout_path, method: :delete %>
      <% else %>
        <%= link_to 'Login', login_path %>
      <% end %>
    </div>
  </div>

  <!-- Second Row -->
  <div class="d-flex justify-content-between align-items-center">
    <!-- Capacity Filter Form -->
    <form id="capacity_filter_form" action="<%= root_path %>" method="get" class="d-flex align-items-center">
      <span id="capacity_name" class="me-2 align-self-center">Capacity(Max)</span>
      <span id="capacity_value" class="me-2 align-self-center"><%= params[:capacity] || 20 %></span>
      <input type="range" id="capacity_filter" name="capacity" min="1" max="20" value="<%= params[:capacity] || 20 %>" class="form-range align-self-center" style="height: 38px;">
    </form>
    
    <!-- Search Box -->
    <form class="d-flex" action="<%= root_path %>" method="get">
      <input class="form-control me-2" type="search" placeholder="Search Course" aria-label="Search" name="course_search" style="height: 38px;">
      <button class="btn btn-outline-primary" type="submit" style="height: 38px;">Search</button>
    </form>
  
    <!-- Group Creation and Profile Links -->
    <div>
      <%= link_to 'Create Group', new_group_path, class: "btn btn-outline-primary me-2" %>
      <%= link_to 'Profile', profile_path, class: "btn btn-primary" %>
    </div>
  </div>  
</header>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Course</th>
      <th scope="col">Focus Area</th>
      <th scope="col">Creator</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr class="group">
        <td><%= group.course %></td>
        <td><%= group.focus %></td>
        <td>
          <% if logged_in? && group.creator_id == current_student.id %>
            <%= link_to group.creator.name, profile_path %>
          <% else %>
            <%= link_to group.creator.name, student_path(group.creator) %>
          <% end %>
        </td>
        <td><%= link_to 'View', group_path(group), class: "btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const capacityFilter = document.getElementById('capacity_filter');
    const capacityValue = document.getElementById('capacity_value');

    capacityFilter.addEventListener('input', function() {
      capacityValue.textContent = this.value;
    });

    capacityFilter.addEventListener('change', function() {
      document.getElementById('capacity_filter_form').submit();
    });
  });
</script>