<h1>Create Post</h1>
<%= form_for @post do |f| %>
  <p>
    <%= f.label :course %><br>
    <%= f.text_field :course, value: @student.course %>
  </p>
  <p>
    <%= f.label :start_slot, 'Start Time Slot' %><br>
    <%= f.number_field :start_slot, min: 0, max: 59 %>
  </p>
  <p>
    <%= f.label :end_slot, 'End Time Slot' %><br>
    <%= f.number_field :end_slot, min: 0, max: 59 %>
  </p>
  <p>
    <%= f.label :tag %><br>
    <%= f.text_field :tag, value: @student.tag %>
  </p>
  <p>
    <%= f.label :text %><br>
    <%= f.text_field :text, value: @student.text %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>