<h1 class="py-5 text-center">Create Post</h1>

<%= form_for @post do |f| %>
  <div class="mb-3">
    <%= f.label :course, class: "form-label" %>
    <%= f.text_field :course, value: @student.course, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :schedule, class: "form-label" %>
    <%= f.text_field :schedule, value: @student.schedule, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :tag, class: "form-label" %>
    <%= f.text_field :tag, value: @student.tag, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :text, class: "form-label" %>
    <%= f.text_field :text, value: @student.text, class: "form-control" %>
  </div>
  <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>