<h1 class="py-5 text-center">Create Post</h1>

<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @post do |f| %>
  <div class="mb-3">
    <%= f.label :course %><br>
    <%= f.text_field :course, value: @post.course, class: "form-control"  %>
  </div>
  <div class="mb-3">
    <%= f.label :tag %><br>
    <%= f.text_field :tag, value: @post.tag, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :text %><br>
    <%= f.text_field :text, value: @post.text, class: "form-control"  %>
  </div>
  <div class="mb-3">
    <%= f.label :capacity %><br>
    <%= f.number_field :capacity, value: @post.capacity, min: 1, class: "form-control" %>
  </div>
  <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>