<h1 class="py-5 text-center">Create Post</h1>

<%= form_for @post do |f| %>
  <div class="mb-3">
    <%= f.label :course %><br>
    <%= f.text_field :course, value: @student.course %>
  </div>
  <div class="mb-3">
    <%= f.label :tag %><br>
    <%= f.text_field :tag, value: @student.tag %>
  </div>
  <div class="mb-3">
    <%= f.label :text %><br>
    <%= f.text_field :text, value: @student.text %>
  </div>
  <%= f.submit "Create", class: "btn btn-primary" %>

<% end %>