<p><strong>Status:</strong> <%= @post.post_status %></p>
<p><strong>Course:</strong> <%= @post.course %></p>
<p><strong>Tag:</strong> <%= @post.tag %></p>
<p><strong>Text:</strong> <%= @post.text %></p>
<p>
  <strong>Capacity:</strong> 
  <%= @post.student_attend_posts.where(apply_status: 'accepted').count + 1 %> / <%= @post.capacity %>
</p>

<% if @post.post_status == "open" %>
  <%= button_to "Request to Join", apply_post_path(@post), method: :post, class: "btn btn-primary" %>
<% end %>

<!-- Display members list to accepted students and the creator -->
<% if @post.students.include?(current_student) || @post.creator == current_student %>
  <h3>Members:</h3>
  <p><%= @post.creator.name %></p>
  <% @post.student_attend_posts.where(apply_status: 'accepted').each do |application| %>
    <p><%= application.student.name %></p>
  <% end %>
<% end %>

<!-- Display accept/reject options to the creator -->
<% if @post.creator == current_student %>
  <% @post.student_attend_posts.each do |application| %>
    <div class="applicant-row">
      <% if application.apply_status == "pending" %>
        <% applicant = application.student %>
        <%= link_to applicant.name, student_path(applicant), class: "applicant-name" %>
        <div class="buttons">
          <%= button_to 'Accept', accept_application_path(application), method: :post, class: "btn-accept" %>
          <%= button_to 'Reject', reject_application_path(application), method: :post, class: "btn-reject" %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>