<h1><%= @post.text %></h1>
<p><strong>Course:</strong> <%= @post.course %></p>
<p><strong>Schedule:</strong> <%= @post.schedule %></p>
<p><strong>Tag:</strong> <%= @post.tag %></p>
<p><strong>Text:</strong> <%= @post.text %></p>