<!DOCTYPE html>
<html>
  <head>
    <title>Lionstudy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container py-3">
      <% flash.each do |type, message| %>
      <div class="flash <%= type %>">
        <%= message %>
      </div>
    <% end %>
    <% unless current_page?(root_path) %>
      <%= link_to root_path, class: "btn btn-primary" do %>
        Home
      <% end %>
    <% end %>
    <%= yield %>
    </div>
  </body>
</html>
